<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Create New Notes</title>
</head>
<body>
	<h1>Creating New Notes</h1>
	<div>
	<form th:action="@{/notes/uploadFiles}" name="uploadFiles" method="post" enctype="multipart/form-data">
	<!-- <h3 th:text="${userdata.id}"></h3> --> 
	<!-- <input type="text" id="user"/> -->
	<label for="title">Title</label>
	<!-- <input type="text" name="user" id="user"> -->
	<input type="text" id="title" placeholder="Title Here" name="title"></input><br/><br/>
	<label for="description">Description</label>
	<textarea type="text" id="description" placeholder="Description" name="description"></textarea>
	<label for="data">File:</label>
	<input type="file" id="file" name="files" multiple required/>
	<button type="submit">Submit</button>
	</form>
	</div>
	<!-- <form th:action="@{/notes/create-new}" method="post" enctype="multipart/form-data">
	<input type="text" th:value="*{user.id}"></input>
	<input type="text" name="title" id="title" placeholder="Title for Notes Here"></input>
	<input type="text" name="description" id="description" placeholder="Your description here" th:field="*{description}"></input>
	<button type="submit">Save</button>
	</form> -->
</body>
</html>