<!DOCTYPE html>
<html xmlsns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>File upload</title>
</head>
<body>
	<div>
		<h3>Upload Files</h3>
		<form id="uploadFiles" name="uploadFiles" method="post" 
		th:Action=@{/notes/uploadFiles} enctype="multipart/form-data">
			<input type="file" name="files" multiple required/>
			<button type="submit">Submit</button>
		</form>
		
		<div>
			<h3>List of Files</h3>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Download</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="note:${notes}">
						<td th:text="${note.id}"/>
						<td th:text="${note.docName}"/>
						<td><a th:href="@{'/notes/downloadFile/'+${note.id}}">
						Download</a></td>
					</tr>	
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>