<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>HomePage</title>
<style>
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
font-family: 'Lato', sans-serif;
}
</style>
</head>

<body>
	<div align="left">
		<div sec:authorize="isAuthenticated()">
			Welcome <b><span sec:authentication="name"></span></b>
			<i><span sec:authentication="principal.authorities">Roles</span></i>
		</div>
		<div th:each="userdata:${user}">
			<h3>:: NOTES OF <b th:text="${userdata.name}"></b> ::</h3><a align="left" href="http://localhost:8085/notes/create-new">Add New Note</a>
				<br/>
				<br/>
				<b>||     YOUR NOTES   ||</b>
				
				<div th:each="note:${userdata.notes}">
					<details>
						<summary th:text="${note.title}"> Title </summary>
							<p th:text="${note.description}">Description</p>
							
							<h5>Note ID:<b th:text="${note.id}">ID</b></h5>
							<h5>Created Date:<b th:text="${note.dateCreated}">Date Created</b></h5>
					</details>
				</div>
		</div>
	</div>
</body>
</html>